
header, footer
{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

nav
{
	text-align: center;
	background-color: #2473a8;
	padding: 10px;
}


body
{
	font-family: Palatino, URW Palladio L, serif;
	color: #595959;
	background-color: #0080ff;
	margin-left: 80px;
	margin-right: 85px;
	font-size: 21px;
    position: relative;
	
}


main
{
	margin-left: 100px;
	margin-right: 100px;
}


.title{
	text-align: left;
}


.custom-div{
	background-color: #70B4E1;
	color: #595959;
	height: 400px;
	width: 375px;
	margin-left: 100px;
	margin-right: 100px;
	border-style: solid;
	border-radius: 20px;
	border-width: medium;
	border-color: coral;
	opacity: 90px;
	padding: 50px
  }
  h2
  {
	  font-size: 20px;
  }