
body
{
	font-family: Palatino, URW Palladio L, serif;
	color: #70B4E1;
	background-color:  #4d4d4d;
	margin-left: 80px;
	margin-right: 85px;
	font-size: 21px;
    background: url("https://wallpapercave.com/wp/wp6630904.jpg") center/100% fixed;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    background-attachment: fixed;
	
}



img:hover {
  opacity: 1.0;
}

header, footer
{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

main
{
	margin-left: 100px;
	margin-right: 100px;
}

nav
{
	text-align: center;
}

.title{
	text-align: left;
}

table
{
	border-collapse: collapse;
	color: lightgray;
	margin: 18px;
	background-color: #8a8a5c;
	border: solid 2px #000000;
	opacity: 0.5;
}

th {
    font-weight: bold;
    text-align: left;
}

th {
    font-weight: bold;
    text-align: left;
}